<style>
    body {
        padding: 0;
        margin: 0;
    }

    html { -webkit-text-size-adjust:none; -ms-text-size-adjust: none;}
    @media only screen and (max-device-width: 680px), only screen and (max-width: 680px) { 
        *[class="table_width_100"] {
            width: 96% !important;
        }
        *[class="border-right_mob"] {
            border-right: 1px solid #dddddd;
        }
        *[class="mob_100"] {
            width: 100% !important;
        }
        *[class="mob_center"] {
            text-align: center !important;
        }
        *[class="mob_center_bl"] {
            float: none !important;
            display: block !important;
            margin: 0px auto;
        }	
        .iage_footer a {
            text-decoration: none;
            color: #929ca8;
        }
        img.mob_display_none {
            width: 0px !important;
            height: 0px !important;
            display: none !important;
        }
        img.mob_width_50 {
            width: 40% !important;
            height: auto !important;
        }
    }
    .table_width_100 {
        width: 680px;
    }

</style>


<div id="mailsub" class="notification" align="center">

    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 320px;"><tr><td align="center" bgcolor="#eff3f8">


                <!--[if gte mso 10]>
                <table width="680" border="0" cellspacing="0" cellpadding="0">
                <tr><td>
                <![endif]-->

                <table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%" style="max-width: 680px; min-width: 300px;">
                    <tr><td>
                            <!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"> </div>
                        </td></tr>
                    <!--header -->
                    <tr><td align="center" bgcolor="#ffffff">
                            <!-- padding --><div style="height: 20px; line-height: 20px; font-size: 10px;"> </div>
                            <table width="115" border="0" cellspacing="0" cellpadding="0" >
                                <tr><td align="center" valign="top" class="mob_center">
                                        <a href="http://lasa.com.co/" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
                                            <font face="Arial, Helvetica, sans-seri; font-size: 13px;" size="3" color="#596167">
                                            <img src="http://ciolasa.azurewebsites.net/Content/img/LogoLASAOriginal.png" width="300" height="100" alt="Metronic" border="0" style="display: block;" /></font></a>
                                    </td></tr>
                            </table>

                            <!-- padding --><div style="height: 30px; line-height: 30px; font-size: 10px;"> </div>
                        </td></tr>
                    <!--header END--> 

                    <!--content 1 -->
                    <tr><td align="center" bgcolor="#fbfcfd">
                            <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                <tr><td align="center">
                                        <!-- padding --><div style="height: 60px; line-height: 60px; font-size: 10px;"> </div>
                                        <div style="line-height: 44px;">
                                            <font face="Arial, Helvetica, sans-serif" size="5" color="#57697e" style="font-size: 34px;">
                                            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #57697e;">
                                                {% if typeEmail == 1%}
                                                    Restablecer Contraseña
                                                {% elseif typeEmail == 2 %}
                                                    Contraseña Actualizada
                                                {% elseif typeEmail == 3 %}
                                                    Bienvenido(a), <strong>{{ name }}!</strong>
                                                {% elseif typeEmail == 4 %}

                                                {% else %}
                                                    Bienvenido(a)
                                                {% endif %}

                                            </span></font>
                                        </div>
                                        <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                                    </td></tr>
                                <tr>
                                    {% if typeEmail == 1%}
                                        <td align="center">
                                            <div style="line-height: 24px;">
                                                <font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 15px;">
                                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
                                                    <p align="center"> Ha solicitado restablecer contraseña. Para continuar, haga clic en el botón;
                                                        recuerde que tiene un dia para restablecerla de lo contrario este email no sera
                                                        válido y deberá volver a solicitar un cambio de contraseña </p>

                                                    <p align="center"><a href="http://ec2-54-174-106-200.compute-1.amazonaws.com/lasa_frontend/#!/recover/{{userToken}}/{{isAdmin}}" style="
                                                                                             background-color: #4CAF50; /* Green */
                                                                                             border: none;
                                                                                             color: white;
                                                                                             padding: 15px 32px;
                                                                                             text-align: center;
                                                                                             text-decoration: none;
                                                                                             display: inline-block;
                                                                                             font-size: 16px;">clic aquí</a></p>
                                                </span></font>
                                            </div>
                                            <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                                        </td>

                                    {% elseif typeEmail == 2%}
                                        <td align="center">
                                            <div style="line-height: 24px;">
                                                <font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 15px;">
                                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
                                                    <p align="center"> Su contraseña de Lasa Capacitación Virtual ha sido actualizada correctamente.

                                                    Enviamos este correo para garantizar la privacidad y seguridad de su cuenta.</p>

                                                </span>
                                                </font>
                                            </div>
                                            <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                                        </td>

                                    {% elseif typeEmail == 3 %}
                                        <td align="center">
                                            <div style="line-height: 24px;">
                                                <font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 15px;">
                                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
                                                    <p align="justify"> Recientemente te has registrado en nuestra nuestra app de capacitación virtual LASA.
                                                        Te invitamos a acceder con el usuario y contraseña que te han sido asignados.</p>

                                                    <p align="justify">Usuario: {{user}}</p>
                                                    <p align="justify">Contraseña: {{password}}</p>

                                                    <p align="justify">Cualquier duda que tengas puedes comunicarte con:</p>
                                                    <p align="justify">sistemas@lasa.com.co</p>
                                                    <p align="justify">Saludos!</p>
                                                </span></font>
                                            </div>
                                            <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                                        </td>

                                    {% elseif typeEmail == 4 %}
                                        <td align="center">
                                            <div style="line-height: 24px;">
                                                <font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 15px;">
                                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
                                                    <p align="justify"> {{ body }} </p>

                                                    <p align="justify">Cualquier duda que tengas puedes comunicarte con:</p>
                                                    <p align="justify">sistemas@lasa.com.co</p>
                                                    <p align="justify">Saludos!</p>
                                                </span></font>
                                            </div>
                                            <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                                        </td>

                                    {% elseif typeEmail == 5 %}
                                        <td align="center">
                                            <div style="line-height: 24px;">
                                                <font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 15px;">
                                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
                                                    <p align="center"> Se ha habilitado el acceso al app. Para continuar, haga clic en el botón;
                                                        recuerde que tiene un dia para restablecerla de lo contrario este email no sera
                                                        válido y deberá solicitar un cambio de contraseña </p>

                                                    <p align="center"><a href="http://ec2-54-174-106-200.compute-1.amazonaws.com/lasa_frontend/#!/recover/{{userToken}}/{{isAdmin}}" style="
                                                                                             background-color: #4CAF50; /* Green */
                                                                                             border: none;
                                                                                             color: white;
                                                                                             padding: 15px 32px;
                                                                                             text-align: center;
                                                                                             text-decoration: none;
                                                                                             display: inline-block;
                                                                                             font-size: 16px;">clic aquí</a></p>
                                                </span></font>
                                            </div>
                                            <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                                        </td>
                                    {% else %}
                                        <td align="center">
                                            <div style="line-height: 24px;">
                                                <font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 15px;">
                                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
                                                    <p align="justify"> Has sido registrado como administrador en el gestor de contenido, de nuestra app de capacitación virtual LASA. Te invitamos a acceder con el usuario y contraseña que te han sido asignados.</p>

                                                    <p align="justify">Para acceder, haz <a href="http://ec2-54-174-106-200.compute-1.amazonaws.com/lasa_frontend/">clic aquí</a> e ingresa los datos.</p>

                                                    <p align="justify">Usuario: {{user}}</p>
                                                    <p align="justify">Contraseña: {{password}}</p>

                                                    <p align="justify">Cualquier duda que tengas puedes comunicarte con:</p>                                            
                                                    <p align="justify">sistemas@lasa.com.co</p>
                                                    <p align="justify">Saludos!</p>
                                                </span></font>
                                            </div>
                                            <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                                        </td>
                                    {% endif %}
                                </tr>
                            </table>		
                        </td></tr>
                    <!--content 1 END-->

                    <!--content 2 -->
                    <!--<tr><td align="center" bgcolor="#ffffff" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #eff2f4;">
                            <table width="94%" border="0" cellspacing="0" cellpadding="0">
                                <tr><td align="center">
                    <!-- padding --><!--<div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>

                    <div class="mob_100" style="float: left; display: inline-block; width: 33%;">
                        <table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
                            <tr><td align="center" style="line-height: 14px; padding: 0 27px;">
                    <!-- padding --><!--<div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                    <div style="line-height: 14px;">
                        <font face="Arial, Helvetica, sans-serif" size="3" color="#4db3a4" style="font-size: 14px;">
                        <strong style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #4db3a4;">
                            <a href="#1" target="_blank" style="color: #4db3a4; text-decoration: none;">UNLIMITED LAYOUTS</a>
                        </strong></font>
                    </div>
                    <!-- padding --><!--<div style="height: 18px; line-height: 18px; font-size: 10px;"> </div>
                    <div style="line-height: 21px;">
                        <font face="Arial, Helvetica, sans-serif" size="3" color="#98a7b9" style="font-size: 14px;">
                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #98a7b9;">
                            Lorem ipsum dolor sit amet consectetuer sed et diam noumy elit dolore 
                        </span></font>
                    </div>
                </td></tr>
        </table>
    </div>
    <div class="mob_100" style="float: left; display: inline-block; width: 33%;">
        <table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
            <tr><td align="center" style="line-height: 14px; padding: 0 27px;">
                    <!-- padding --><!--<div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                    <div style="line-height: 14px;">
                        <font face="Arial, Helvetica, sans-serif" size="3" color="#4db3a4" style="font-size: 14px;">
                        <strong style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #4db3a4;">
                            <a href="#2" target="_blank" style="color: #4db3a4; text-decoration: none;">GREAT SUPPORT</a>
                        </strong></font>
                    </div>
                    <!-- padding --><!--<div style="height: 18px; line-height: 18px; font-size: 10px;"> </div>
                    <div style="line-height: 21px;">
                        <font face="Arial, Helvetica, sans-serif" size="3" color="#98a7b9" style="font-size: 14px;">
                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #98a7b9;">
                            Lorem ipsum dolor sit amet consectetuer sed et diam noumy elit dolore 
                        </span></font>
                    </div>
                </td></tr>
        </table>
    </div>
    <div class="mob_100" style="float: left; display: inline-block; width: 33%;">
        <table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
            <tr><td align="center" style="line-height: 14px; padding: 0 27px;">
                    <!-- padding --><!--<div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                    <div style="line-height: 14px;">
                        <font face="Arial, Helvetica, sans-serif" size="3" color="#4db3a4" style="font-size: 14px;">
                        <strong style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #4db3a4;">
                            <a href="#3" target="_blank" style="color: #4db3a4; text-decoration: none;">CLEAN CODE</a>
                        </strong></font>
                    </div>
                    <!-- padding --><!--<div style="height: 18px; line-height: 18px; font-size: 10px;"> </div>
                    <div style="line-height: 21px;">
                        <font face="Arial, Helvetica, sans-serif" size="3" color="#98a7b9" style="font-size: 14px;">
                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #98a7b9;">
                            Lorem ipsum dolor sit amet consectetuer sed et diam noumy elit dolore 
                        </span></font>
                    </div>
                </td></tr>
        </table>
    </div>								
</td></tr>
<tr><td><!-- padding --><!--<div style="height: 80px; line-height: 80px; font-size: 10px;"> </div></td></tr>
</table>		
</td></tr>
                    <!--content 2 END-->

                    <!--links -->
                    <!--<tr><td align="center" bgcolor="#ffffff" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #eff2f4;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr><td align="center">
                    <!-- padding --><!--<div style="height: 32px; line-height: 32px; font-size: 10px;"> </div>-->
                    <!--<table width="80%" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center" valign="middle" style="font-size: 12px; line-height: 22px;">
                                <font face="Tahoma, Arial, Helvetica, sans-serif" size="2" color="#282f37" style="font-size: 12px;">
                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #5b9bd1;">
                                    <a href="#PRODUCTS" target="_blank" style="color: #5b9bd1; text-decoration: none;">PRODUCTS</a>
                                        <img src="http://artloglab.com/metromail/images/dot.gif" alt="|" width="9" height="9" class="mob_display_none" />    
                                    <a href="#FEATURES" target="_blank" style="color: #5b9bd1; text-decoration: none;">FEATURES</a>
                                        <img src="http://artloglab.com/metromail/images/dot.gif" alt="|" width="9" height="9" class="mob_display_none" />    
                                    <a href="#LAYOUTS" target="_blank" style="color: #5b9bd1; text-decoration: none;">LAYOUTS</a>
                                        <img src="http://artloglab.com/metromail/images/dot.gif" alt="|" width="9" height="9" class="mob_display_none" />    
                                    <a href="#SUPPORT" target="_blank" style="color: #5b9bd1; text-decoration: none;">SUPPORT</a>
                                        <img src="http://artloglab.com/metromail/images/dot.gif" alt="|" width="9" height="9" class="mob_display_none" />    
                                    <a href="#DISCOVER" target="_blank" style="color: #5b9bd1; text-decoration: none;">DISCOVER</a>
                                </span></font>
                            </td>
                        </tr>                                        
                    </table>
                </td></tr>
            <tr><td><!-- padding --><!--<div style="height: 32px; line-height: 32px; font-size: 10px;"> </div></td></tr>
                    <!--</table>		
                </td></tr>-->
                    <!--links END-->

                    <!--content 3 -->
                    <!--<tr><td align="center" bgcolor="#ffffff" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #eff2f4;">
                            <table width="94%" border="0" cellspacing="0" cellpadding="0">
                                <tr><td align="center">
                    <!-- padding --><!--<div style="height: 80px; line-height: 80px; font-size: 10px;"> </div>

                    <!--<table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr><td align="center">
                                <font face="Arial, Helvetica, sans-serif" size="3" color="#57697e" style="font-size: 26px;">
                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 26px; color: #57697e;">
                                    Featured Works
                                </span></font>				
                            </td></tr>			
                    </table>				

                    <div class="mob_100" style="float: left; display: inline-block; width: 33%;">
                        <table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
                            <tr><td align="center" style="line-height: 14px; padding: 0 10px;">
                    <!-- padding --><!--<div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                    <div style="line-height: 14px;">							
                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                            <img src="http://artloglab.com/metromail/images/img1.jpg" width="185" alt="Image 1" border="0" style="display: block; width: 100%; height: auto;" /></font></a>
                    </div>
                </td></tr>
        </table>
    </div>
    <div class="mob_100" style="float: left; display: inline-block; width: 33%;">
        <table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
            <tr><td align="center" style="line-height: 14px; padding: 0 10px;">
                    <!-- padding --><!--<div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                    <div style="line-height: 14px;">							
                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                            <img src="http://artloglab.com/metromail/images/img2.jpg" width="185" alt="Image 2" border="0" style="display: block; width: 100%; height: auto;" /></font></a>
                    </div>
                </td></tr>
        </table>
    </div>
    <div class="mob_100" style="float: left; display: inline-block; width: 33%;">
        <table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
            <tr><td align="center" style="line-height: 14px; padding: 0 10px;">
                    <!-- padding --><!--<div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                    <div style="line-height: 14px;">							
                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                            <img src="http://artloglab.com/metromail/images/img3.jpg" width="185" alt="Image 3" border="0" style="display: block; width: 100%; height: auto;" /></font></a>
                    </div>
                </td></tr>
        </table>
    </div>								
</td></tr>
<tr><td><!-- padding --><!--<div style="height: 80px; line-height: 80px; font-size: 10px;"> </div></td></tr>
</table>		
</td></tr>-->
                    <!--content 3 END-->

                    <!--brands -->
                    <!--<tr><td align="center" bgcolor="#ffffff" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #eff2f4;">
                            <table width="94%" border="0" cellspacing="0" cellpadding="0">
                                <tr><td align="center">

                                        <div class="mob_100" style="float: left; display: inline-block; width: 25%;">
                                            <table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
                                                <tr><td align="center" style="line-height: 14px; padding: 0 24px;">
                    <!-- padding --><!--<div style="height: 30px; line-height: 30px; font-size: 10px;"> </div>
                    <div style="line-height: 14px;">							
                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                            <img src="http://artloglab.com/metromail/images/evernote.gif" width="125" alt="Evernote" border="0" class="mob_width_50" style="display: block; width: 100%; height: auto;" /></font></a>
                    </div>
                </td></tr>
        </table>
    </div>

    <div class="mob_100" style="float: left; display: inline-block; width: 25%;">
        <table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
            <tr><td align="center" style="line-height: 14px; padding: 0 24px;">
                    <!-- padding --><!--<div style="height: 30px; line-height: 30px; font-size: 10px;"> </div>
                    <div style="line-height: 14px;">							
                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                            <img src="http://artloglab.com/metromail/images/pinterest.gif" width="107" alt="Pinterest" border="0" class="mob_width_50" style="display: block; width: 100%; height: auto;" /></font></a>
                    </div>
                </td></tr>
        </table>
    </div>

    <div class="mob_100" style="float: left; display: inline-block; width: 25%;">
        <table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
            <tr><td align="center" style="line-height: 14px; padding: 0 24px;">
                    <!-- padding --><!--<div style="height: 30px; line-height: 30px; font-size: 10px;"> </div>
                    <div style="line-height: 14px;">							
                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                            <img src="http://artloglab.com/metromail/images/ng.gif" width="103" alt="National Geographic" border="0" class="mob_width_50" style="display: block; width: 100%; height: auto;" /></font></a>
                    </div>
                </td></tr>
        </table>
    </div>

    <div class="mob_100" style="float: left; display: inline-block; width: 25%;">
        <table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
            <tr><td align="center" style="line-height: 14px; padding: 0 24px;">
                    <!-- padding --><!--<div style="height: 30px; line-height: 30px; font-size: 10px;"> </div>
                    <div style="line-height: 14px;">							
                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                            <img src="http://artloglab.com/metromail/images/shopify.gif" width="116" alt="Shopify" border="0" class="mob_width_50" style="display: block; width: 100%; height: auto;" /></font></a>
                    </div>
                </td></tr>
        </table>
    </div>

</td></tr>
<tr><td><!-- padding --><!--<div style="height: 28px; line-height: 28px; font-size: 10px;"> </div></td></tr>
</table>		
</td></tr>
                    <!--brands END-->

                    <!--footer -->
                    <tr><td class="iage_footer" align="center" bgcolor="#ffffff">
                            <!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"> </div>	

                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr><td align="center">
                                        <font face="Arial, Helvetica, sans-serif" size="3" color="#96a5b5" style="font-size: 13px;">
                                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;">
                                            Este correo electrónico se generó automáticamente. Por favor no lo responda.
                                        </span></font>				
                                    </td></tr>			
                            </table>

                            <!-- padding --><div style="height: 30px; line-height: 30px; font-size: 10px;"> </div>	
                        </td></tr>
                    <!--footer END-->
                    <tr><td>
                            <!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"> </div>
                        </td></tr>
                </table>
                <!--[if gte mso 10]>
                </td></tr>
                </table>
                <![endif]-->

            </td></tr>
    </table>

</div> 

<!--<br>
<br>
<center>
    <strong>Powered by <a href="http://j.mp/metronictheme" target="_blank">KeenThemes</a></strong>
</center>
<br>
<br>-->